// app global css in SCSS form

.vis-item.red {
  color: white;
  background-color: red;
  border-color: darkred;
}

.vis-item.magenta {
  background-color: magenta;
  border-color: purple;
  color: white;
}

.vis-item.green {
  background-color: greenyellow;
  border-color: green;
}

.vis-item.orange {
  background-color: gold;
  border-color: orange;
}

.vis-item.yellow {
  background-color: yellow;
  border-color: orange;
}

.vis-item.blue {
  background-color: blue;
  border-color: white;
  color: white;
}

.vis-item.purple {
  background-color: purple;
  border-color: white;
  color: white;
}


.vis-item {
  top: 3px;
}
.vis-item.vis-dot.diamond {
  width: 0;
  height: 0;
  top: 1px;
  position: absolute;
  border-width: 7px;
  border: 7px solid transparent;
  border-bottom: 7px solid red;
  background-color: aliceblue;
}
.vis-item.vis-dot.diamond:after {
  content: '';
  position: absolute;
  top: 4px;
  left: -5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 7px solid red;
}
